<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inspector Profile</title>
 </head>
 <body>
  <h4>Inspector Profile</h4>
  <p>Manage inspector personal information</p>
  <section class="mt-5">
   <div class="mt-5 p-2 bg-light rounded">
    <h5>Personal Information</h5>
    <div class="mt-5">
     <p>First Name: John</p>
     <p>Last Name: Doe</p>
     <p>Email:
    </div>
   </div>
  </section>
 </body>
</html>
